@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
     padding: 0;
     margin: 0;
     outline: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}

img {
     width: 100%;
}

.container {
     max-width: 1080px;
     margin: 0 auto;
}

/* navbar  */
.navbar {
     text-align: right;
}

.navbar .ul {
     list-style: none;
}

.navbar ul li {
     display: inline-block;
     margin: 10px;
}

.navbar ul li a {
     display: block;
     text-decoration: none;
     color: #72706B;
     padding: 5px;
}

/* calendar and banner area css  */
.banner-area h3 {
     font-size: 1.6rem;
     padding: 1rem;
     color: #0CBBC6;
}



.calendar-banner-area {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #74809B;
}

.calendar {
     flex-basis: 40%;
     border: 1px solid #d5d9e1;
     padding: 20px;
     border-radius: 5px;
}

.calendar ul {
     list-style: none;
     text-align: center;
}

.calendar ul li {
     display: inline-block;
     margin: 0 30px;
}

table {
     padding: 15px;
     margin: 0 auto;

}

table tr th {
     padding: 13px;
}

.active {
     background-color: #0CBBC6;
     color: #fff;
     border-radius: 5px;
}

.banner {
     flex-basis: 45%;
}

.banner img {
     border-radius: 5px;
}



.service-area {
     text-align: center;

}

.service-area h3 {
     font-size: 1.6rem;
     padding: 1rem;
     color: #0CBBC6;
     margin-bottom: 50px;
}

.service {
     padding: 20px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 40px;
}

.service-container {
     border: 1px solid #d5d9e1;
}

.service-container h5 {
     font-size: 18px;
     margin-top: 50px;
     margin-bottom: 10px;
     color: #0CBBC6;
}

.service-container .time {
     font-weight: 900;
     margin-bottom: 10px;

}

.service-container .space {
     margin-bottom: 10px;

}

.service-container a {
     text-decoration: none;
     background-color: #0CBBC6;
     color: #fff;
     display: inline-block;
     margin-bottom: 28px;
     display: inline-block;
     padding: 10px 20px;
     border-radius: 5px;
}


.footer-area {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 33px;
}

.footer {
     line-height: 2.5;
}

.footer span {
     font-size: 16px;
}

.footer p {
     font-size: 18px;
     color: #0CBBC6;
}
.starts{
     align-self: flex-start;
}

.social-area i {
     font-size: 28px;
     margin-right: 10px;
     color: #31C594;
}

.call-now h6 {
     font-size: 16px;
     background-color: #31C594;
     color: #fff;
     text-align: center;
     border-radius: 5px;
     letter-spacing: 3px;
}

.copyright-area {
     text-align: center;
     padding: 33px 0;
}